<nav class="navbar navbar-light bg-light" *ngIf="appState$ | async as appState">
  <div class="container-fluid" *ngIf="userLoggedIn(appState)">
    <div class="d-flex">
      <span class="navbar-brand mb-0 h1" [routerLink]="['/recommended']">MangaReader</span>
    </div>

    <ul class="nav">
      <li class="ui icon input nav-item" style="float:right;">  
        <input type="text" placeholder="Search..." (keydown.enter)="onKeydown($event)" >
        <i class="circular search link icon nav-link" ></i>
      </li>
      <li class="nav-item" *ngIf="userLoggedOut(appState)">
        <a class="nav-link" [routerLink]="['/identity']">Login/Register</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/identity', 'profile']">{{ getUserName(appState) }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/identity', 'logout']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
