<div class="ui divided items" *ngIf="(mangaData) != undefined && (mangaChapters) != undefined">
    {{mangaData.title}}
    {{mangaData.description}}
    <img [src]="mangaData.coverArt" alt="Cover" width="500" height="600">
    <button (click)="addToWishlist()">Add to wishlist</button>
    <h3>Chapters:</h3>
    <ul>    
        <li *ngFor='let mangaChapter of mangaChapters; let i=index;'>    
          <a routerLink="/chapter/{{mangaChapter.id}}"  routerLinkActive="active">{{mangaChapter.chapterNumber}} : {{mangaChapter.title}}</a>
                
    </ul>
</div>
<div class="ui divided items" *ngIf="(mangaData) == undefined">
    404
</div>
