<h3>Your information</h3>

<div *ngIf="appState$ | async as appState">
  <table class="table table-stripped table-bordered" *ngIf="!appState.isEmpty(); else notLoggedIn">
    <tbody>
      <tr>
        <td class="table-active">Username</td>
        <td>{{ appState.username }}</td>
      </tr>
      <tr>
        <td class="table-active">Email</td>
        <td>
          <span *ngIf="!editableEmail">{{ appState.email }}</span>
          <input type="text" #box class="form-control" (keyup.enter)="updateEmail(box.value)" *ngIf="editableEmail" placeholder="{{ appState.email }}" />
        </td>
        <td><button class="btn btn-primary" (click)="editEmail()">Edit</button></td>
      </tr>
      <tr>
        <td class="table-active">Name</td>
        <td>
          <span *ngIf="!editableName">{{ appState.firstName }} {{ appState.lastName }}</span>
          <input
            type="text"
            #box
            class="form-control"
            (keyup.enter)="updateName(box.value)"
            *ngIf="editableName"
            placeholder="{{ appState.firstName }} {{ appState.lastName }}" />
        </td>
        <td><button class="btn btn-primary" (click)="editName()">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #notLoggedIn>
  <p>Please <a [routerLink]="['/identity', 'login']">login</a> to see ypur information</p>
</ng-template>
<div>
  <button class="btn btn-primary" [routerLink]="['changePassword']" (click)="openChangePasswordForm()">Change password</button>
</div>

<router-outlet></router-outlet>
